@import "reset.css";

:root {
  --blueColor: #3498db;
  --lightColor: #fff;
  --darkColor: #515151;
  --blackColor: #000;
  --lightBrown: #fbf1ed;
  --lightGray: #d3d3d3;
}

body {
  margin: 0;
}

/* begin main header */

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.8rem;
  background-color: var(--blueColor);
  padding: 1.5rem;
}

.nav-title h1 {
  color: var(--lightColor);
  font-family: "Roboto", "sans-serif";
  font-size: 2.4rem;
  font-weight: 400;
  margin: 1.5rem 1.4rem;
}

.nav-logo {
  color: var(--lightColor);
  font-size: 2.4rem;
  margin: 1.5rem 1.4rem;
  transition: filter 0.3s;
}

.nav-logo:hover {
  cursor: pointer;
  filter: brightness(90%);
}

#main-header-cover {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background: url("../images/hero.jpg") no-repeat 60% 90%;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#main-header-cover div {
  text-align: center;
}

.main-header-title {
  color: var(--lightColor);
  font-family: "Rosario", "sans-serif";
  font-size: 5.6rem;
  font-weight: 600;
  filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.25));
  margin: 0 2rem;
}

.join-btn {
  border: none;
  border-radius: 0 1.4rem 0 1.4rem;
  font-size: 3.2rem;
  padding: 0.9rem 4rem;
  box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.25);
  margin: 3rem;
  transition: 0.3s;
}

.join-btn:hover {
  cursor: pointer;
  filter: brightness(110%);
}

.join-btn:active {
  transform: translateY(2px);
}

/* end of main header */

/* begin next-trip section */
#next-trip {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
}

.next-trip-section-title {
  font-family: "Rosario", "sans-serif";
  font-size: 3.5rem;
  color: var(--darkColor);
  text-align: center;
  margin-bottom: 2rem;
}

.next-trip-gallery {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.next-trip-place {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 32%;
  height: 35vh;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  box-shadow: inset 0 -9rem 2rem -4rem rgb(0 0 0 / 50%);
  transition: transform 250ms;
}

.next-trip-place:hover {
  transform: scale(0.95);
  cursor: pointer;
}

.place-1 {
  background: url("../images/3.jpg") center no-repeat;
}

.place-2 {
  background: url("../images/4.jpg") center no-repeat;
}

.place-3 {
  background: url("../images/5.jpg") center no-repeat;
}

.next-trip-name {
  color: var(--lightColor);
  margin: 2rem;
  font-family: "Roboto", "sans-serif";
  font-size: 2rem;
  filter: drop-shadow(0.1rem 0.1rem 0.2rem var(--blackColor));
}

.next-trip-place-large {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background: url("../images/6.jpg") center no-repeat;
  background-size: cover;
  width: 90%;
  height: 80vh;
  border-radius: 1rem;
  
}

.next-trip-place-large:hover {
  transition: 0.2s ease-in-out;
  box-shadow: inset 0 -19rem 5rem -4rem rgb(0 0 0 / 50%);

}

.next-trip-name-large {
  margin-left: 2rem;
  color: var(--lightColor);
  font-family: "Roboto", "sans-serif";
  font-size: 3rem;
  filter: drop-shadow(0.1rem 0.1rem 0.2rem var(--blackColor));
}

.next-trip-description {
  color: var(--lightColor);
  margin: 1rem 2rem;
  font-family: "Roboto", "sans-serif";
  font-size: 2rem;
  filter: drop-shadow(0.1rem 0.1rem 0.2rem var(--blackColor));
}

.learn-more-btn {
  font-family: "Roboto", "sans-serif";
  border: none;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 2rem;
  background-color: var(--lightColor);
  padding: 1rem 1.5rem;
  margin: 0 0 2rem 2rem;
}

.learn-more-btn:hover {
  cursor: pointer;
}

.learn-more-btn:active {
  transform: translateY(1px);
}

/*end of next-trip section */

/* begin more-to-explore section */

#more-explore {
  background-color: var(--lightBrown);
  padding: 3rem;
}

.more-explore-title {
  font-family: "Roboto", "sans-serif";
  font-size: 2.5rem;
  margin: 1rem;
}

.more-explore-gallery {
  display: flex;
  justify-content: space-between;
}

.more-explore-article {
  position: relative;
  width: 33%;
  background-color: var(--lightColor);
  margin: 1rem;
  border-radius: 1rem;
}

.more-explore-article:hover {
  background-color: var(--lightGray);
  cursor: pointer;
}

.like-btn {
  position: absolute;
  right: 0;
  background-color: var(--lightColor);
  font-size: 3rem;
  border-radius: 100%;
  padding: 1rem;
  margin: 1rem;
}

.like-btn:hover {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.05);
}

.more-article-1 {
  background: url(../images/1.jpg) center no-repeat;
  background-size: cover;
  height: 35vh;
}

.more-article-2 {
  background: url(../images/2.jpg) center no-repeat;
  background-size: cover;
  height: 35vh;
}

.more-article-3 {
  background: url(../images/7.jpg) center no-repeat;
  background-size: cover;
  height: 35vh;
}

.more-article-1,
.more-article-2,
.more-article-3 {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.article-source {
  font-family: "Roboto", "sans-serif";
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin: 2rem;
}

.article-title {
  font-family: "Roboto", "sans-serif";
  font-size: 2rem;
  text-align: center;
  margin: 3rem;
}

/* end of more-to-explore section */

/* begin main footer */

#main-footer {
  padding: 3rem;
  max-width: 100%;
  font-family: "Roboto", "sans-serif";
}

.footer-line {
  color: var(--lightGray);
  border: 1px solid var(--lightGray);
  margin: 2rem 3rem;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.footer-links ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.footer-link {
  padding: 1rem;
}

.footer-link a,
label,
select {
  text-decoration: none;
  color: var(--darkColor);
  font-size: 1.5rem;
  font-weight: 600;
  transition: filter 0.3s;
}

select {
  border: none;
  width: 1.5rem;
  background: none;
}

select:focus {
  border: none;
  width: 1.5rem;
  background: none;
  outline: none;
}

.footer-link a:hover {
  filter: brightness(40%);
}

.footer-icons li {
  list-style: none;
  padding: 1rem;
  font-size: 2rem;
  transition: filter 0.3s;
}

.footer-icons li a {
  text-decoration: none;
  color: var(--darkColor);
}

.footer-icons li:hover {
  filter: brightness(70%);
}

.fas {
  margin-right: 0.5rem;
}

.footer-icons .slack {
  color: var(--blueColor);
}

.copyright {
  margin-left: 3rem;
  font-size: 1.5rem;
}
/* end of main footer */

@media screen and (max-width: 900px) {
  #main-header-cover {
    justify-content: center;
  }

  .next-trip-place {
    height: 20rem;
  }

  .next-trip-place-large {
    height: 25rem;
  }

  .next-trip-name-large {
    font-size: 3rem;
  }

  .article-source,
  .article-title {
    font-size: 1.5rem;
  }

  .more-article-1,
  .more-article-2,
  .more-article-3 {
    height: 30vh;
    background-size: cover;
  }

  .footer-links {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .next-trip-gallery {
    align-items: center;
    flex-direction: column;
  }

  .next-trip-place {
    width: 100%;
    height: 25rem;
  }

  .next-trip-description {
    display: none;
  }

  #more-explore {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .more-explore-gallery {
    flex-direction: column;
  }

  .more-explore-title {
    text-align: center;
  }

  .more-explore-article {
    width: 100%;
    margin: 1rem 0;
  }

  .more-article-1,
  .more-article-2,
  .more-article-3 {
    min-height: 50vh;
  }

  .like-btn {
    font-size: 2rem;
  }

  .footer-links ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .copyright {
    text-align: center;
  }
}
