html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    background-color: #3498DB;
    padding: 2rem;
}

.nav-title h1 {
    color: #fff;
    font-family: 'Roboto', 'sans-serif';
    font-size: 2rem;
    font-weight: 400;
}

.nav-logo {
    color: #fff;
    font-size: 2rem ;
}

.main-header__cover {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background: url('../images/hero.jpg') center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.main-header__cover div {
    text-align: center;
}

.main-header__title {
    color: #fff;
    font-family: 'Rosario', 'sans-serif';
    font-size: 3.3rem;
    font-weight:600;
    filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.25));
    margin: 0 2rem;
}

.join-btn {
    border: none;
    border-radius: 0 1rem 0 1rem;
    font-size: 2.3rem;
    padding: 0.9rem 3rem;
    box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.25);
    margin: 2rem;
}